#test data and images
/notebooks/*.csv
/notebooks/*.jpg

#flask session
flask_session/

#environment vars
*.env


#csv files
*.csv

#venv
venv/

#notes
notes.txt

#secrets
secrets/

#notebooks
notebooks/

#okta config files
*.json